@use "../../styles/form" as *;

.login-page {
  @include auth-page;

  .login-form-container {
    @include auth-form-container;

    height: 450px;
    display: flex;
    flex-direction: column;
  }
}

.login-form {
  @include auth-form;
}
