@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/common";

.login-page {
  @include flex-center;
  min-height: 100vh;
  background-color: $primary-color;

  .login-form-container {
    width: 340px;
    height: 450px;
    border-radius: 12px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);
    padding: 30px;
    padding-top: 50px;
  }
}

.login-form {
  @include flex-column;
  height: 100%;

  &__title {
    margin-bottom: 40px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0;
    color: $text-primary;
  }

  &__button {
    width: 100%;
    margin-top: auto;
    padding: 12px;
    background: $secondary-color;
    color: $primary-color;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    cursor: pointer;
  }

  &__link {
    display: block;
    margin-top: 14px;
    color: $secondary-color;
    text-decoration: none;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    text-align: center;
  }
}

.input-field {
  margin-bottom: 16px;

  &__label {
    display: block;
    font-size: 9px;
    color: $text-secondary;
    margin-bottom: 4px;
    font-weight: 500;
    line-height: 9px;
    letter-spacing: 0;
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $secondary-color;
    padding: 8px 0;
    font-size: 13px;
    font-weight: 500;
    outline: none;
    background: transparent;
    line-height: 13px;
    letter-spacing: 0;
    color: rgba(30, 30, 30, 1);

    &::placeholder {
      color: $text-secondary;
    }
  }

  &__error {
    color: $error-color;
    font-size: 8px;
    font-weight: 400;
    line-height: 8px;
    margin-top: 7px;
  }
}
