@use "../../styles/variables" as *;

.input-field {
  &__input {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0;
    outline: none;
    background: transparent;
    color: rgba(30, 30, 30, 1);
    border: none;
    border-bottom: 1px solid transparent;

    &::placeholder {
      color: $text-secondary;
    }

    &--error {
      color: $error-color;
    }

    &--readonly {
      border-bottom: 1px solid transparent;
      cursor: default;
    }
  }

  &__error {
    color: $error-color;
    font-size: 8px;
    font-weight: 400;
    line-height: 8px;
    margin-top: 7px;
  }
}

