@use "./variables" as *;
@use "./mixins" as *;
@use "./common" as *;

.error-page {
  @include flex-center;
  min-height: 100vh;
  background-color: $primary-color;

  &__content {
    @include flex-column-center;
    width: 100%;
  }

  &__code {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0;
    text-align: center;
    color: $text-primary;
    margin: 0;
  }

  &__message {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: $text-primary;
    margin-top: 20px;
  }

  &__link {
    display: inline-block;
    margin-top: 70px;
    color: $secondary-color;
    text-decoration: none;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    text-align: center;

    &:hover {
      opacity: 0.8;
    }
  }
}

