@use "./variables" as *;
@use "./mixins" as *;
@use "./common" as *;
@use "./auth-input" as *;

@mixin auth-page {
  @include flex-center;
  min-height: 100vh;
  background-color: $primary-color;
}

@mixin auth-form-container {
  width: 340px;
  border-radius: 12px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);
  padding: 30px;
  padding-top: 50px;
}

@mixin auth-form {
  @include flex-column;
  height: 100%;

  &__title {
    margin-bottom: 40px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0;
    color: $text-primary;
  }

  &__button {
    width: 100%;
    margin-top: auto;
    padding: 12px;
    background: $secondary-color;
    color: $primary-color;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    cursor: pointer;
  }

  &__link {
    display: block;
    margin-top: 14px;
    color: $secondary-color;
    text-decoration: none;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    text-align: center;
  }
}

