* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
}

.login-form-container {
  width: 340px;
  height: 450px;
  border-radius: 12px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);
  padding: 30px;
  padding-top: 50px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}

.login-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.login-form__title {
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
  color: rgba(30, 30, 30, 1);
}

.input-field {
  margin-bottom: 16px;
}

.input-field__label {
  font-family: 'Inter', sans-serif;
  display: block;
  font-size: 9px;
  color: rgba(153, 153, 153, 1);
  margin-bottom: 4px;
  font-weight: 500;
  line-height: 9px;
  letter-spacing: 0;
}

.input-field__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(51, 105, 243, 1);
  padding: 8px 0;
  font-size: 13px;
  font-weight: 500;
  outline: none;
  background: transparent;
  font-family: 'Inter', sans-serif;
  line-height: 13px;
  letter-spacing: 0;
  color: rgba(30, 30, 30, 1);
}

.input-field__input::placeholder {
  color: rgba(153, 153, 153, 1);
}

.input-field__error {
  color: rgba(255, 47, 47, 1);
  font-size: 8px;
  font-weight: 400;
  line-height: 8px;
  margin-top: 7px;
  font-family: 'Inter', sans-serif;
}

.login-form__button {
  width: 100%;
  margin-top: auto;
  padding: 12px;
  background: rgba(51, 105, 243, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  cursor: pointer;
}

.login-form__link {
  display: block;
  margin-top: 14px;
  color: rgba(51, 105, 243, 1);
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  text-align: center;
}
