$primary-color: rgba(255, 255, 255, 1);
$secondary-color: rgba(51, 105, 243, 1);

$background-gray: rgba(239, 239, 239, 1);
$sidebar-background: rgba(251, 251, 251, 1);
$message-from-me-background: rgba(228, 237, 253, 1);

$text-primary: rgba(30, 30, 30, 1);
$text-secondary: rgba(153, 153, 153, 1);

$error-color: rgba(255, 47, 47, 1);
