$primary-color: rgb(255 255 255 / 100%);
$secondary-color: rgb(51 105 243 / 100%);
$background-gray: rgb(239 239 239 / 100%);
$sidebar-background: rgb(251 251 251 / 100%);
$message-from-me-background: rgb(228 237 253 / 100%);
$text-primary: rgb(30 30 30 / 100%);
$text-secondary: rgb(153 153 153 / 100%);
$error-color: rgb(255 47 47 / 100%);
