@use "../../styles/common" as *;
@use "../../styles/form-input" as *;
@use "../../styles/mixins" as *;

.chats-page {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.chats-page main {
    display: flex;
}

.chats-page__main-content {
    display: flex;
    flex: 1;
    min-width: 0;
}

.chats-page__sidebar {
    width: 310px;
    padding: 10px;
    background-color: $sidebar-background;
    border-right: 1px solid $background-gray;
    flex-shrink: 0;
    overflow-y: auto;
}

.chats-page__header {
    @include flex-column;

    margin: 14px 0;
}

.chats-page__profile-link {
    color: $text-secondary;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    align-self: flex-end;

    &-arrow {
        margin-left: 4px;
    }
}

.chats-page__search-box {
    width: 100%;
    margin-top: 14px;
}

.create-chat-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1;
}

.create-chat-submit-button {
    @include primary-button;

    width: 100%;
    padding: 12px 24px;
    font-family: Inter, sans-serif;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
}

.chats-page__create-chat-button {
    @include primary-button;

    width: 100%;
    margin-top: 14px;
    padding: 12px;
}

.chats-page__search-form {
    width: 100%;
}

.chats-page__search-wrapper {
    @include flex-center;

    width: 100%;
    position: relative;

    &:has(.chats-page__search-input:not(:placeholder-shown)) .chats-page__search-icon {
        display: none;
    }
}

.chats-page__search-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.33333 12.6667C10.2789 12.6667 12.6667 10.2789 12.6667 7.33333C12.6667 4.38781 10.2789 2 7.33333 2C4.38781 2 2 4.38781 2 7.33333C2 10.2789 4.38781 12.6667 7.33333 12.6667Z' stroke='%23999999' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 14L11.1 11.1' stroke='%23999999' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    left: 50%;
    transform: translateX(calc(-50% - 35px));
}

.chats-page__search-input {
    width: 100%;
    padding: 10px;
    background-color: $background-gray;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    outline: none;
    color: $text-primary;
    text-align: center;

    &::placeholder {
        color: $text-secondary;
    }

    &:focus {
        background-color: rgba($background-gray, 0.8);
    }

    &:not(:placeholder-shown) {
        text-align: left;
        padding-left: 40px;
    }
}

.chats-page__chat-list {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.chats-page__chat {
    @include flex-column;

    flex: 1;
    min-width: 0;
    padding: 10px 20px;
}
