@use "../../styles/form" as *;

.signup-page {
  @include auth-page;

  .signup-form-container {
    @include auth-form-container;
    height: 615px;
    display: flex;
    flex-direction: column;
  }
}

.signup-form {
  @include auth-form;
}
